torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
transformers==4.37.2
accelerate==0.26.1
datasets==2.16.1
diffusers==0.18.2
einops==0.7.0
h5py==3.10.0
huggingface_hub==0.20.3
importlib_metadata==7.0.1
librosa==0.10.1
matplotlib==3.8.2
numpy==1.23.5
omegaconf==2.0.6
packaging==23.2
pandas==2.2.0
progressbar33==2.4
protobuf==3.20.*
resampy==0.4.2
scikit_image==0.22.0
scikit_learn==1.4.0
scipy==1.12.0
soundfile==0.12.1
ssr_eval==0.0.7
torchlibrosa==0.1.0
tqdm==4.63.1
laion-clap==1.1.4
gradio
google-generativeai