setuptools
onnxruntime
torch==2.0.1
transformers==4.41.2
accelerate==0.24.1
unidecode
numpy==1.26.0
scipy==1.12.0

librosa
encodec
phonemizer
g2p_en
jieba
cn2an
pypinyin
LangSegment
pyopenjtalk
pykakasi

json5
black==24.1.1
ruamel.yaml
tqdm

spaces
gradio
openai-whisper
