setuptools
onnxruntime
torch==2.0.1
transformers===4.41.1
tensorboard
tensorboardX 
accelerate==0.31.0
unidecode
numpy==1.23.5

librosa
encodecphonemizer
g2p_en
jieba
cn2an
pypinyin
LangSegment
pyopenjtalk
pykakasi

json5
black==24.1.1
ruamel.yaml
tqdm
